# Direktori storage
/storage/*

# File konfigurasi lingkungan
.env

# Direktori vendor
/vendor/

# Direktori node_modules jika Anda menggunakan npm atau Yarn
/node_modules/

# File log dan file cache
*.log
*.cache

# File sementara
*.swp

# File konfigurasi editor
.DS_Store
.vscode/
.idea/
