@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    25% {
        opacity: 1;
        transform: translateY(0);
    }

    75% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.alert {
    animation: fadeInOut 2s ease-in-out;
    
}